.how {
  &__card {
    background-image: linear-gradient(
        to bottom,
        rgba(var(--bg-accent-color-opacity), 0.75) 0% 100%
      ),
      url('../images/how__bg-image.jpg');
    background-image: linear-gradient(
        to bottom,
        rgba(var(--bg-accent-color-opacity), 0.75) 0% 100%
      ),
      url('../images/how__bg-image.webp');
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: row;
    gap: clamp(2.5rem, -5.3571rem + 12.2768vw, 9.375rem); // 150
    color: var(--text-accent-color);
    padding-block: var(--indent-card);

    @include media(md, max) {
      padding-inline: var(--indent-card);
      flex-direction: column;
    }
  }

  &__image-wrap {
    flex: none;
    inline-size: 100%;
    block-size: 100%;
    border-radius: var(--border-radius-lg);
    background: rgba(255, 255, 255, 0.2);
    box-shadow:
      0px 0px 10.9px 0px rgba(255, 255, 255, 0.26) inset,
      0px 14px 16px 0px rgba(0, 0, 0, 0.26),
      0px 4px 0px 0px rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(9px);

    @include media(md) {
      inline-size: clamp(17em, 30vw, 25em);
      block-size: clamp(17em, 30vw, 25em);
    }
  }

  &__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__content {
    flex: auto;

    display: flex;
    flex-direction: column;

    @include media(md) {
      align-items: flex-start;
    }
  }

  &__title {
    margin-block-end: var(--indent-xxs);
    text-align: left;
  }

  &__description {
    color: var(--text-accent-secondary-color);
    font-size: var(--text-md);
    font-weight: 500;
    margin-block-end: var(--indent-lg);
  }

  &__button {
    margin-block-start: auto;
  }
}
