.how {
  &__card {
    background-image: linear-gradient(
        to bottom,
        rgba(var(--bg-accent-color-opacity), 0.75) 0% 100%
      ),
      url('../images/how__bg-image.jpg');
    background-image: linear-gradient(
        to bottom,
        rgba(var(--bg-accent-color-opacity), 0.75) 0% 100%
      ),
      url('../images/how__bg-image.webp');
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    gap: var(--indent-md) clamp(2rem, -16.1538rem + 28.3654vw, 9.375rem); // 48-150
    color: var(--text-accent-color);

    @include media(md) {
      flex-direction: row;
    }
  }

  &__image-wrap {
    flex: none;
    align-self: center;
    inline-size: clamp(12.5rem, 8.0986rem + 18.7793vw, 25rem);
    block-size: clamp(12.5rem, 8.0986rem + 18.7793vw, 25rem);
    border-radius: var(--border-radius-lg);
    background: rgba(255, 255, 255, 0.2);
    box-shadow:
      0px 0px 10.9px 0px rgba(255, 255, 255, 0.26) inset,
      0px 14px 16px 0px rgba(0, 0, 0, 0.26),
      0px 4px 0px 0px rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(9px);

    @include media(md) {
      align-self: flex-start;
    }

    @include media(lg) {
      align-self: center;
    }
  }

  &__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__content {
    flex: auto;

    display: flex;
    gap: var(--indent-xxs);
    flex-direction: column;
    align-items: center;

    @include media(md) {
      align-items: flex-start;
    }
  }

  // &__title {}

  &__description {
    color: var(--text-accent-secondary-color);
    font-size: var(--text-md);
    font-weight: 500;
  }

  &__button {
    margin-block-start: auto;
  }
}
