.lead {
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: auto 0 0 0;
    block-size: calc(76px + 196px);
    background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    padding-block-start: 140px;
    padding-block-end: calc(76px + 196px);
  }

  &__content {
    flex-basis: 692px;
  }

  &__title {
    font-size: var(--display-md);
    font-weight: 700;
    line-height: 1;
    margin-block-end: var(--indent-md);
  }

  &__title-span {
    display: block;
    &_size-sm {
      font-size: var(--display-sm);
    }
  }

  &__description {
    font-size: var(--text-lg);
    color: var(--text-secondary-color);
    font-weight: 500;
    line-height: 1.5;
  }

  &__controls {
    margin-block-start: var(--indent-xl);
    display: flex;
    align-items: center;
    gap: 1.25em;
  }

  &__images {
    flex-basis: 650px;
    position: relative;
  }

  &__image {
    position: absolute;
    inline-size: 411px;

    &_content_light {
      inset: -79px auto auto 94px;
    }

    &_content_dark {
      inset: 174px auto auto 545px;
    }
  }
}
