.lead {
  padding-block: 0;
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: auto 0 0 0;
    block-size: clamp(6rem, -2.8571rem + 13.8393vw, 13.75rem); // 220
    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      #ffffff 80% 100%
    );
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2em;
    padding-block-start: clamp(3rem, -5.5714rem + 13.3929vw, 10.5rem); // 168
    padding-block-end: clamp(4rem, -4.8571rem + 13.8393vw, 11.75rem); // 188

    @include media(md) {
      flex-direction: row;
    }
  }

  &__content {
    flex-basis: min(692px, 100%);
    flex-grow: 1;
  }

  &__title {
    font-size: var(--display-md);
    font-weight: 700;
    line-height: .95;
    margin-block-end: var(--indent-md);
  }

  &__title-span {
    display: block;
    &_size-sm {
      font-size: var(--display-sm);
    }
  }

  &__description {
    font-size: var(--text-lg);
    color: var(--text-secondary-color);
    font-weight: 500;
  }

  &__controls {
    margin-block-start: var(--indent-xl);
    display: flex;
    flex-direction: column;
    gap: 1.25em;

    @include media(md) {
      flex-direction: row;
      align-items: center;
    }
  }

  &__images {
    position: relative;
    flex: 1 1 min(250px, 100%);
    min-block-size: clamp(200px, 40vh, 400px);

    @include media(lg) {
      flex-basis: min(630px, 100%);
    }
  }

  &__image {
    position: absolute;
    inline-size: 50vw;

    &_content_light {
      inset: 0 auto auto 0;

      @include media(lg) {
        inset: -23% auto auto 15%;
      }
    }

    &_content_dark {
      inset: 15% auto auto 45%;

      @include media(lg) {
        inset: 32% auto auto 85%;
      }
    }

    @include media(md) {
      inline-size: min(411px, 27vw);
    }
  }
}
