.lead {
  overflow: hidden;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    inset: auto 0 0 0;
    block-size: clamp(6rem, -2.8571rem + 13.8393vw, 13.75rem); // 220
    background-image: linear-gradient(
      to bottom,
      transparent 0%,
      #ffffff 80% 100%
    );
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    padding-block-start: clamp(4rem, -1.4286rem + 8.4821vw, 8.75rem); // 140
    padding-block-end: clamp(4rem, -4.8571rem + 13.8393vw, 11.75rem); // 188

    @include media(md, max) {
      flex-direction: column;
    }
  }

  &__content {
    flex-basis: min(692px, 100%);
    flex-grow: 1;

    @include media(md, max) {
      text-align: center;
    }
  }

  &__title {
    font-size: var(--display-md);
    font-weight: 700;
    line-height: 1;
    margin-block-end: var(--indent-md);
  }

  &__title-span {
    display: block;
    &_size-sm {
      font-size: var(--display-sm);
    }
  }

  &__description {
    font-size: var(--text-lg);
    color: var(--text-secondary-color);
    font-weight: 500;
    line-height: 1.5;
  }

  &__controls {
    margin-block-start: var(--indent-xl);
    display: flex;
    align-items: center;
    gap: 1.25em;

    @include media(md, max) {
      flex-direction: column;
      align-items: initial;
    }
  }

  &__images {
    flex-basis: min(650px, 100%);
    flex-grow: 0;
    position: relative;

    @include media(md, max) {
      flex: auto;
      min-block-size: 300px;
    }

    @include media(lg, max) {
      flex-basis: min(400px, 100%);
    }
  }

  &__image {
    position: absolute;
    inline-size: min(411px, 27vw);

    &_content_light {
      inset: -18% auto auto 15%;

      @include media(lg, max) {
        inset: 0 auto auto 0;
      }
    }

    &_content_dark {
      inset: 38% auto auto 85%;

      @include media(lg, max) {
        inset: 30% auto auto 45%;
      }
    }

    @include media(md, max) {
      inline-size: 50vw;
    }
  }
}
