.step {
  &__title {
    margin-block-end: var(--indent-md);
  }

  &__card {
    inline-size: 100%;
    block-size: 100%;

    background-color: var(--bg-secondary-color);
    border-radius: var(--border-radius-xl);
    display: flex;
    align-items: center;

    @include media(md, max) {
      flex-direction: column;
    }
  }

  &__card-image {
    flex: auto;
    inline-size: min(20em, 100%);
    aspect-ratio: 707/607;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @include media(md) {
      flex: 0 0 50%;
    }
  }

  &__card-content {
    flex: 0 0 50%;
    padding-block: var(--indent-card);
    padding-inline-end: var(--indent-card);
    @include media(md, max) {
      padding-block-start: 0;
      padding-inline-start: var(--indent-card);
    }
  }

  &__card-label-text {
    inline-size: max-content;
    min-block-size: 2.8em;
    padding: 0.8rem 1.9em;
    text-align: center;
    border: 1px solid currentColor;
    background-color: var(--white);
    border-radius: var(--border-radius-sm);
    font-size: var(--text-md);
    font-weight: 700;
  }

  &__card-title {
    font-weight: 700;
    font-size: var(--heading-sm);
    margin-block-start: var(--indent-lg);
    margin-block-end: var(--indent-xxs);
  }

  &__card-description {
    margin-block-end: var(--indent-lg);
    color: var(--text-secondary-color);
    font-size: var(--text-md);
    font-weight: 500;
  }

  &__card-progress {
    display: flex;
    gap: 0.5em;
  }

  &__card-progress-item {
    flex: auto;
    block-size: clamp(0.5rem, 0.346rem + 0.6573vw, 0.9375rem);
    border-radius: var(--border-radius-sm);
    background-color: var(--grey-200);

    &_active {
      background-color: var(--secondary-color);
    }
  }
}
