.page {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  min-block-size: 100dvb;

  &__content {
    flex: auto;
  }

  &_with_lead-image {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0 0 auto 0;
      z-index: -2;
      display: block;
      block-size: 100vh;
      block-size: 100dvb;
      background-image: url('../images/bg-image.png');
      background-image: url('../images/bg-image.webp');
      background-repeat: no-repeat;
      background-position-x: -110%;
      background-position-y: top;
      background-size: 120%;

      @include media(lg, max) {
        background-image: none;
      }

      @include media(xl, max) {
        background-position-x: -165%;
      }
    }

    &::after {
      content: '';
      position: absolute;
      inset: 0 0 auto 0;
      z-index: -1;
      display: block;
      block-size: 100vh;
      block-size: 100dvb;
      background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0% 60%,
        white 90%
      );
    }
  }

  @include media(xl, max) {
    padding-block-start: var(--header-block-size);
  }
}
