.page {
  display: flex;
  flex-direction: column;

  &__content {
    flex: auto;
  }

  &_with_lead-image {
    background: url('../images/bg-image.png') no-repeat top center / contain;
    background: url('../images/bg-image.webp') no-repeat top center / contain;
  }
}
