.section {
  padding: 0.75em clamp(1em, 2.5vw, 1.5em);

  &__indent {
    padding: var(--indent-section) var(--indent-main);

    display: flex;
    flex-direction: column;
    gap: var(--indent-md);
  }

  &__card {
    border-radius: var(--border-radius-xl);

    &_bg_accent {
      background-color: var(--bg-accent-color);
      color: var(--text-accent-color);
    }

    &_bg_main-color {
      background-color: var(--main-color);
      color: var(--text-accent-color);
    }
  }

  &__title {
    font-weight: 700;
    line-height: 1;
    font-size: var(--heading-md);
    text-align: center;

    &_section-indent {
      padding-inline: var(--indent-main);
      padding-block-start: var(--indent-section);
    }
  }

  &__description {
    text-align: center;
    font-size: var(--text-md);
    font-weight: 500;
  }

  &__list {
    @extend %reset-list;
  }

  &__two-columns {
    display: grid;
    gap: var(--indent-xxs);
    grid-template-columns: repeat(auto-fit, minmax(min(17em, 100%), 1fr));

    @include media(lg) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__three-columns {
    display: grid;
    gap: var(--indent-xl) var(--indent-xxl);
    grid-template-columns: repeat(auto-fit, minmax(min(17em, 100%), 1fr));

    @include media(lg) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &_no-indent {
    padding-inline: 0;

    .section__indent {
      padding-inline: var(--indent-main-wide);
    }
  }
}
