*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-inline-size: 360px;
  // max-inline-size: 120em;
  margin: 0 auto;
  font-family: var(--main-font-family, 'Raleway', sans-serif);
  font-size: 16px;
  line-height: 1.3;
  color: var(--text-main-color);
  background-color: var(--bg-main-color, #ffffff);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

menu {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

:focus,
:focus-visible {
  outline: none;
}
