:root {
  --grey-800: #2f3c33;
  --grey-700: #48524b;
  --grey-600: #647067;
  --grey-500: #849087;
  --grey-400: #a2a9a4;
  --grey-300: #c5c8c6;
  --grey-200: #e3e4e3;
  --grey-100: #f5f5f5;
  --white: #ffffff;

  --bg-main-color: var(--white);
  --bg-secondary-color: var(--grey-100);
  --bg-accent-color: var(--grey-800);
  --bg-accent-color-opacity: 47, 60, 51;

  --main-color: #f43f5e;
  --main-color-opacity: 244, 63, 94;

  --secondary-color: #84cc16;
  --secondary-color-opacity: 132, 204, 22;

  --text-main-color: var(--grey-800);
  --text-secondary-color: var(--grey-600);
  --text-tetriary-color: var(--grey-400);
  --text-accent-color: var(--white);
  --text-accent-secondary-color: var(--grey-200);

  --main-font-family: 'Raleway', sans-serif;

  // indent
  --indent-xxs: 1rem; // 16
  --indent-xs: clamp(0.75rem, 0.5739rem + 0.7512vw, 1.25rem); // 20
  --indent-sm: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem); // 24
  --indent-md: clamp(1.25rem, 1.0299rem + 0.939vw, 1.875rem); // 30
  --indent-lg: clamp(1.5rem, 1.1479rem + 1.5023vw, 2.5rem); // 40
  --indent-xl: clamp(1.875rem, 1.2148rem + 2.8169vw, 3.75rem); // 60
  --indent-xxl: clamp(1.875rem, 0.3345rem + 6.5728vw, 6.25rem); // 48-100
  --indent-xxxl: clamp(8rem, 5.7993rem + 9.3897vw, 14.25rem); // 228

  // 375 - 1440
  --indent-main: 1em;
  --indent-main-wide: 1em;
  --indent-section: clamp(1.875rem, 1.2148rem + 2.8169vw, 3.75rem); // 60
  --indent-card: clamp(1.875rem, 0.3345rem + 6.5728vw, 6.25rem); // 100
  --indent-card-sm: 2rem; // 32

  // typography
  --display-sm: clamp(2rem, 0.9437rem + 4.507vw, 5rem); // 80
  --display-md: clamp(3rem, 1.2394rem + 7.5117vw, 8rem); // 128

  --heading-xxs: clamp(0.875rem, 0.743rem + 0.5634vw, 1.25rem); // 20
  --heading-xs: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem); // 24
  --heading-sm: clamp(1.25rem, 0.8099rem + 1.8779vw, 2.5rem); // 40
  --heading-md: clamp(1.5rem, 0.7077rem + 3.3803vw, 3.75rem); // 60

  --text-sm: 0.75rem;
  --text-md: 0.875rem;
  --text-lg: 1rem;

  --border-radius-sm: 1.5rem; // 24px
  --border-radius-md: 2.25rem; // 36px
  --border-radius-lg: clamp(3.5rem, 3.3239rem + 0.7512vw, 4rem); // 48-64
  --border-radius-xl: clamp(4rem, 1.4472rem + 10.892vw, 11.25rem); // 64-180

  --box-shadow-md: 0 8px 16px rgb(100 112 103 / 0.05);

  --header-block-size: 4.875em;
}

@include media(md) {
  // 1024 - 1920
  :root {
    --indent-main: clamp(3rem, -10.2857rem + 20.7589vw, 14.625rem); // 48-234 для секций
    --indent-main-wide: clamp(3rem, -12rem + 23.4375vw, 16.125rem); // 48-258 для секций

    --text-sm: 1rem; // 16
    --text-md: 1.25rem; // 20
    --text-lg: 1.5rem; // 24
  }
}