.card {
  block-size: 100%;

  &_theme {
    &_bg-secondary {
      padding: var(--indent-card-sm);
      border-radius: var(--border-radius-lg);
      background-color: var(--bg-secondary-color);

      .card__icon {
        inline-size: clamp(4rem, 3.6479rem + 1.5023vw, 5rem);
        block-size: clamp(4rem, 3.6479rem + 1.5023vw, 5rem);
        margin-block-end: var(--indent-xl);

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border-radius: var(--border-radius-sm);

        & svg {
          inline-size: 60%;
          block-size: 60%;
        }
      }
    }

    &_outline {
      padding-block-end: var(--indent-lg);
    }
  }

  &_content {
    &_check-arrow {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        inset: var(--indent-card-sm) var(--indent-card-sm) auto auto;
        block-size: 1.875em;
        inline-size: 1.875em;
        background-color: var(--secondary-color);

        display: block;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        mask-image: url('../images/icons.svg#check');
      }
    }

    &_border {
      border-block-end: 1px solid var(--grey-200);
    }
  }

  &__icon {
    display: block;
    inline-size: clamp(4rem, 3.1637rem + 3.5681vw, 6.375rem);
    block-size: clamp(4rem, 3.1637rem + 3.5681vw, 6.375rem);
    margin-block-end: var(--indent-xs);

    & svg {
      inline-size: 100%;
      block-size: 100%;
    }
  }

  &__title {
    font-size: var(--heading-xs);
    font-weight: 700;
    margin-block-end: var(--indent-xs);
  }

  &__description {
    font-size: var(--text-md);
    font-weight: 500;
    color: var(--text-secondary-color);
  }
}
