.card {
  block-size: 100%;

  &_theme {
    &_bg-secondary {
      padding: 2rem;
      border-radius: var(--border-radius-lg);
      background-color: var(--bg-secondary-color);

      .card__icon {
        inline-size: 5rem;
        block-size: 5rem;
        margin-block-end: var(--indent-xl);

        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        border-radius: var(--border-radius-sm);

        & svg {
          inline-size: 60%;
          block-size: 60%;
        }
      }

      @include media(md, max) {
        padding: var(--indent-card);
      }
    }

    &_outline {
      padding-block-end: var(--indent-xl);
    }
  }

  &_content {
    &_check-arrow {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        inset: 1.875rem 1.875rem auto auto;
        block-size: 32px;
        inline-size: 32px;
        background-color: var(--secondary-color);

        display: block;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        mask-image: url('../images/icons.svg#check');

        @include media(md, max) {
          inset: var(--indent-card) var(--indent-card) auto auto;
        }
      }
    }

    &_border {
      border-block-end: 1px solid var(--grey-200);
    }
  }

  &__icon {
    display: block;
    inline-size: clamp(4rem, 1.2857rem + 4.2411vw, 6.375rem);
    block-size: clamp(4rem, 1.2857rem + 4.2411vw, 6.375rem);
    margin-block-end: var(--indent-xs);

    & svg {
      inline-size: 100%;
      block-size: 100%;
    }
  }

  &__title {
    font-size: var(--heading-xs);
    font-weight: 700;
    margin-block-end: var(--indent-xs);
  }

  &__description {
    font-size: var(--text-md);
    font-weight: 500;
    color: var(--text-secondary-color);
  }
}
