.banner-card {
  inline-size: 100%;
  block-size: 100%;

  padding: var(--indent-card);
  background-color: var(--bg-secondary-color);
  border-radius: var(--border-radius-xl);
  display: grid;
  gap: 1.5em;
  grid-template-columns: 1fr;

  &__image-wrap {
    inline-size: 100%;
    block-size: 100%;
  }

  &__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--bg-secondary-color);
    border-radius: var(--border-radius-lg);
  }

  &__content {
    @include media(lg) {
      align-self: center;
    }
  }

  &__title {
    font-weight: 700;
    line-height: 1;
    font-size: var(--heading-md);
    margin-block-end: var(--indent-xxs);
  }

  &__description {
    color: var(--text-secondary-color);
    font-size: var(--text-md);
    font-weight: 500;
  }

  @include media(md) {
    grid-template-columns: 1fr 1.1fr;
    gap: clamp(1.5rem, -8.6538rem + 15.8654vw, 5.625rem); // 24-90
  }
}
