.banner-card {
  inline-size: 100%;
  block-size: 100%;

  padding: var(--indent-xxl);
  background-color: var(--bg-secondary-color);
  border-radius: var(--border-radius-xl);
  display: grid;
  grid-template-columns: 1fr;
  gap: clamp(1.875rem, -2.4107rem + 6.6964vw, 5.625rem); // 90

  &__image {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    object-position: center;
    background-color: var(--bg-secondary-color);
    border-radius: var(--border-radius-lg);
  }

  &__content {
    align-self: center;
    text-align: center;

    @include media(md) {
      text-align: left;
    }
  }

  &__title {
    font-weight: 700;
    font-size: var(--heading-md);
    margin-block-end: var(--indent-xxs);
  }

  &__description {
    color: var(--text-secondary-color);
    font-size: var(--text-md);
    font-weight: 500;
    line-height: 150%;
  }

  @include media(md) {
    grid-template-columns: 1fr 1fr;
  }

  @include media(lg) {
    grid-template-columns: 0.9fr 1fr;
  }
}
