.statistics {
  position: relative;
  margin-block-start: calc(
    clamp(4rem, 3.5599rem + 1.8779vw, 5.25rem) * -1
  ); // 84

  // &__card {}

  &__list {
    @extend %reset-list;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(7em, 100%), 1fr));
    gap: var(--indent-lg) var(--indent-xxl);

    @include media(lg, max) {
      grid-template-columns: repeat(auto-fit, minmax(min(15em, 100%), 1fr));
    }

    @include media(lg) {
      grid-template-columns: repeat(auto-fit, minmax(min(20em, 100%), 1fr));
    }
  }

  // &__item {}

  &__title {
    font-size: var(--heading-xxs);
    font-weight: 500;
  }

  &__title-span {
    display: block;

    @include media(lg) {
      &:first-child {
        margin-block-end: 0.5em;
      }
    }
  }

  &__title-strong {
    font-size: clamp(1.875rem, 1.1268rem + 3.1925vw, 4rem); // 64
  }
}
