.statistics {
  margin-block-start: calc(
    clamp(4rem, 2.5714rem + 2.2321vw, 5.25rem) * -1
  ); // 84
  position: relative;

  &__card {
    padding-block: var(--indent-card);

    @include media(md, max) {
      padding-inline: var(--indent-card);
    }
  }

  &__list {
    @extend %reset-list;
    display: flex;
    flex-direction: column;
    gap: var(--indent-md) var(--indent-lg);
    flex-wrap: wrap;

    @include media(md) {
      flex-direction: row;
      align-items: stretch;
      justify-content: space-around;
    }

    @include media(lg) {
      justify-content: space-between;
    }
  }

  &__item {
    @include media(md, max) {
      border-block-end: 1px solid var(--text-secondary-color);
      padding-block-end: var(--indent-lg);
    }

    @include media(md) {
      flex-basis: min(17em, 100%);
    }

    @include media(lg) {
      flex-basis: min(25em, 100%); // 400
    }
  }

  &__title {
    font-size: var(--text-md);
    font-weight: 500;
  }

  &__title-span {
    display: block;

    @include media(lg) {
      &:first-child {
        margin-block-end: 0.5em;
      }
    }
  }

  &__title-strong {
    font-size: clamp(2.5rem, 0.7857rem + 2.6786vw, 4rem); // 64
  }
}
