.statistics {
  margin-block-start: calc(
    clamp(4rem, -4.8571rem + 13.8393vw, 11.75rem) * -1
  ); // 188
  position: relative;

  &__list {
    @extend %reset-list;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--indent-md) var(--indent-lg);
    flex-wrap: wrap;

    @include media(md) {
      flex-direction: row;
      align-items: stretch;
    }

    @include media(lg) {
      justify-content: space-between;
    }
  }

  &__item {
    flex-basis: min(17em, 100%);

    @include media(lg) {
      flex-basis: min(25em, 100%); // 400
    }
  }

  &__title {
    font-size: var(--text-md);
    font-weight: 500;
    line-height: 1.5;
  }

  &__title-span {
    display: block;
    text-align: center;

    @include media(md) {
      text-align: left;
    }
  }

  &__title-strong {
    font-size: clamp(2.5rem, 0.7857rem + 2.6786vw, 4rem); // 64
  }
}
