.hiw {
  &__card {
    background-image: radial-gradient(
      40% 100% at 70% 50%,
      rgba(255, 255, 255, 0.17) 0%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &__container {
    display: flex;
    align-items: flex-start;
    gap: var(--indent-xxs);

    @include media(md) {
      padding-block-start: var(--indent-xxl);
    }
  }

  &__images {
    flex: auto;

    @include media(md) {
      position: sticky;
      top: 5vh;

      display: grid;
      overflow: hidden;
      justify-content: center;
    }
  }

  &__image-wrap {
    block-size: clamp(28.75rem, 20.1232rem + 36.8075vw, 53.25rem);

    @include media(md) {
      grid-area: 1/2/1/2;
      opacity: 0;
      pointer-events: none;
      &_active {
        opacity: 1;
        pointer-events: initial;
        transition: opacity 0.35s;
      }
    }
  }

  &__image {
    inline-size: 100%;
    block-size: 100%;
    object-position: center;
    object-fit: contain;
  }

  &__list {
    flex-basis: 550px;
    display: flex;
    flex-direction: column;
    gap: var(--indent-xxxl);
    margin-block-end: 50vh;

    @include media(md, max) {
      display: none;
    }
  }

  &__list-item {
    padding-inline-start: var(--indent-sm);
    border-inline-start: 4px solid var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  &__list-item-title {
    font-size: var(--heading-xs);
    font-weight: 700;
  }

  &__list-item-description {
    color: var(--text-accent-secondary-color);
    font-size: var(--text-md);
    font-weight: 500;
  }
}
